.gallery_grid_sec{display:grid;grid-template-columns:repeat(2,65.5% 31%);gap:0 4.3rem;}
.lightboxpreview{transition:all .3s linear;padding-top:60%;cursor:pointer;background-size:cover;}
.lightbox-content{max-height:75svh;height:75svh;}
.lightbox-close{cursor:pointer;margin-left:auto;position:absolute;right:-30px;top:-30px;color:white;font-size:2rem;font-weight:700;line-height:1;}
.modalscale{transform:scale(0);opacity:0;}
.lightbox-container,.lightbox-btn,.lightbox-image-wrapper,.lightbox-enabled{transition:all .4s ease-in-out;}
.lightbox_img_wrap{position:relative;overflow:hidden;margin-bottom:5rem;}
.lightbox-container{width:100svw;height:100svh;position:fixed;top:0;left:0;display:flex;align-items:center;justify-content:center;background-color:rgba(0,0,0,75%);z-index:9999;opacity:0;pointer-events:none;backdrop-filter:blur(10px);}
.lightbox-container.active{opacity:1;pointer-events:all;}
.lightbox-image-wrapper{display:flex;transform:scale(0);align-items:center;justify-content:center;max-width:90vw;max-height:90vh;position:relative;}
.lightbox-container.active .lightbox-image-wrapper{transform:scale(1);}
.lightbox-btn,#close{color:var(--color-white);z-index:9999999;cursor:pointer;position:absolute;}
.left{left:50px;}
.right{right:50px;}
#close{top:18px;right:18px;}
.lightbox-image{width:100%;max-height:100%;object-fit:cover;border-radius:2rem;}
@keyframes slideleft{33%{transform:translateX(-300px);opacity:0;}
66%{transform:translateX(300px);opacity:0;}
}
.slideleft{animation-name:slideleft;animation-duration:.5s;animation-timing-function:ease;}
@keyframes slideright{33%{transform:translateX(300px);opacity:0;}
66%{transform:translateX(-300px);opacity:0;}
}
.slideright{animation-name:slideright;animation-duration:.5s;animation-timing-function:ease;}
.gallery_grid ul{column-count:3;gap:0 4.2rem; padding: 0;}
.lightbox-container span i{font-size:12px;border:1px solid #fff;padding:0.8rem 1rem;}
.lightbox-container span.close i{border:none;padding:0;font-size:15px;}
.lightbox_img_wrap img{border-radius:0.4rem;overflow:hidden;}
.gallery_box figure{border-radius:2rem;overflow:hidden;}
.lightbox_img_wrap p{font:var(--font-18); color:var(--color-2e); margin:1rem 0 0 0; font-weight: 600;}
.gallery{background-color:var(--color-f6);padding:8rem 0;}
.gallery_sec{padding:0 0 7rem;}
.gallery_box p{font:var(--font-14);color:var(--color-2b);margin:3rem 0 0 0;}