* {
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

.letter img {
    width: auto;
    max-width: max-content;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    max-width: 1539px;
    margin: -6rem auto 0;
    position: relative;
    align-items: center;
    justify-content: center;
}

.item {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.letter,
.label,
.img {
    opacity: 0;
    transform: translateY(-30px);
    /* slide from top to bottom */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.letter {
    font-size: 24rem;
    font-weight: bold;
    color: #f04e23;
    position: relative;
    z-index: 1;
}

.label {
    font-size: 1.1rem;
    color: #333;
    position: absolute;
    top: 146px;
    background: #fff;
    /* padding: 1.1rem 1rem; */
    width: 300px;
    z-index: 99;
    font-weight: bold;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    z-index: 9;
}

.top .img {
    top: -85px;
    left: 11rem;
}

.bottom .img {
    bottom: -1px;
    left: 13rem;
}


div#R img.img {
    width: 125px;
    height: 125px;
    top: -12px;
    left: 10rem;
}

div#I img.img {
    width: 135px;
    height: 135px;
    left: 6.5rem;
    bottom: 4rem;
}

div#E img.img {
    width: 145px;
    height: 145px;
    left: 4.5rem;
    bottom: 5rem;
}

.label {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (min-width:2399px) {
    .label {
        font-size: 1.3rem;
    }
}



