@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}
.main-container {
  position: relative;
}
.testimonials-container img {
  height: 100%;
}
.fifth-middle-section .button {
  background: #16344e;
  color: #fff !important;
  padding: 0.5rem 2rem;
}
.fifth-middle-section .button:last-child {
  background: unset;
  border: 2px solid #16344e;
  color: #16344e !important ;
  font-weight: 500;
}
.highlighted-title {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(to right, #018ce8 40%, #263868 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.highlighted-title-top-to-botom {
  background: linear-gradient(to bottom, #018ce8 50%, #263868 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 40px;
  font-weight: 700;
}
.nav-link.active-link::after {
  content: "";
  width: 70%;
  height: 8px;
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #b08f29 !important;
  color: #b08f29 !important;
}
.nav-link.active-link {
  color: #b08f29 !important;
}
.dark-blue-text {
  color: #00489a;
}
.blue-text {
  color: #018ce8;
}
.yellow-text {
  color: #b08f29;
}
.second-section-cards-image {
  position: relative;
}
.third-section
  .testimonial-slider
  :is(.swiper-button-prev, .swiper-button-next)
  svg {
  pointer-events: none;
  width: 50%;
  height: 50%;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 30px;
  padding: 0 8px;
}
.engineering-dropdown .triangle-icon {
  position: absolute;
  top: -14px;
  left: 31%;
}
.school-below-banner-section ul li::marker {
  color: #b08f29;
}
.school-below-banner-section ul li:first-child::marker {
  color: transparent;
}
.about-home-buttons a:last-child {
  background: unset !important;
  border: 1px solid #16344e;
  color: #16344e !important ;
  font-weight: 500;
}
.about-school-buttons a:last-child {
  background: unset !important;
  border: 1px solid #16344e;
  color: #16344e !important ;
  font-weight: 500;
}
.departments-list .link-content a {
  width: 80%;
  display: block;
  border-bottom: 1px dotted #ffffff59;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.departments-list .link-content a:last-child {
  border: unset;
}

.departments-list .link-content a:hover {
  color: #fff !important;
}
.fourth-slider-section .banner-links a {
  border-bottom: 1px dotted #f8c326;
}
.third-section .testimonial-slider p {
  font-size: 1.1rem;
}
.third-section .testimonial-slider h6,
.third-section .testimonial-slider small {
  font-size: 0.8rem;
}
.explore-program-section a {
  background: #fff;
  color: #b08f29 !important;
  width: 30%;
  font-weight: 500;
}

.logo {
  position: relative;
}
.addmision-section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) and (max-width: 1420px) {
  /* .site-logo {
    width: 200px;
    height: 70px;
  } */
  .second-section-cards-image image {
    width: 200px;
    height: 80px;
  }
}
