@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,300;0,700;1,200;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@200;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,700;1,200;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,200;0,300;0,700;1,200;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-Condensed);
  background-color: var(--color-f6);
  color: #000;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}

/* Base root variables (Desktop default, 1920px+) */
:root {
  --font-Roboto: "Roboto", sans-serif;
  --font-main: "Roboto Condensed", sans-serif;
  --font-Geist: "Geist", sans-serif;
  --font-Condensed: "Roboto Condensed", sans-serif;

  /* Colors */
  --color-f6: #f6f6f6;
  --color-e8: #018ce8;
  --color-f5: #ddebf5;
  --color-d4: #d4d4d4;
  --color-d6: #d6d6d6;
  --color-be: #bebebe;
  --color-4e: #16344e;
  --color-29: #b08f29;
  --color-21: #212121;
  --color-27: #272727;
  --color-100: #ffc100;
  --color-ai: #0036a1;
  --color-fff: #e6ffff;
  --color-73: #994073;
  --color-36: #eb5f36;
  --color-ff: #0099ff;
  --color-d9: #d9d9d9;
  --color-a0: #a02b2d;
  --color-00: #ffa600;
  --color-1c: #af251c;
  --color-9a: #00489a;
  --color-60: #ff6600;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-ec: #ecc820;

  /* Font Sizes */
  --font-110: normal 300 11rem / 1.218 var(--font-Geist);
  --font-100: normal 100 10rem / 1.218 var(--font-Roboto);
  --font-80: normal bold 8rem / 1.2 var(--font-Roboto);
  --font-60: normal bold 6rem / 1 var(--font-Roboto);
  --font-52: normal bold 5.2rem / 1.2 var(--font-Roboto);
  --font-51: normal bold 5.1rem / 1.2 var(--font-Roboto);
  --font-50: normal bold 5rem / 1.2 var(--font-Roboto);
  --font-48: normal 500 4.8rem / 1.2 var(--font-Roboto);
  --font-45: normal bold 4.5rem / 1.2 var(--font-Roboto);
  --font-42: normal bold 4.2rem / 1.2 var(--font-Roboto);
  --font-40: normal bold 4rem / 1.2 var(--font-Roboto);
  --font-38: normal 500 3.8rem / 1.2 var(--font-Roboto);
  --font-36: normal bold 3.6rem / 1.2 var(--font-Roboto);
  --font-34: normal bold 3.4rem / 1.2 var(--font-Roboto);
  --font-32: normal bold 3.2rem / 1.2 var(--font-Roboto);
  --font-30: normal bold 3rem / 1.2 var(--font-Roboto);
  --font-29: normal bold 2.9rem / 1.2 var(--font-Roboto);
  --font-28: normal bold 2.8rem / 1.2 var(--font-Roboto);
  --font-26: normal bold 2.6rem / 1.4 var(--font-Roboto);
  --font-24: normal 500 2.4rem / 1.2 var(--font-Roboto);
  --font-22: normal 500 2.2rem / 1.2 var(--font-Roboto);
  --font-21: normal normal 2.1rem / 1.2 var(--font-Roboto);
  --font-20: normal bold 2rem / 1.2 var(--font-Roboto);
  --font-19: normal normal 1.8rem / 1.2 var(--font-Roboto);
  --font-18: normal normal 1.8rem / 1.2 var(--font-Roboto);
  --font-17: normal normal 1.7rem / 1.1 var(--font-Roboto);
  --font-16: normal normal 1.6rem / 1.5 var(--font-Roboto);
  --font-15: normal normal 1.5rem / 1.2 var(--font-Roboto);
  --font-14: normal normal 1.4rem / 1.2 var(--font-Roboto);
  --font-13: normal normal 1.3rem / 1.2 var(--font-Roboto);
  --font-12: normal normal 1.4rem / 1.4 var(--font-Roboto);
  --line-height-31: calc(3.1rem / 2.6rem);
  --line-height-30: calc(3rem / 2.1rem);
  --line-height-22: calc(2.2rem / 1.4rem);
  --line-height-21: calc(2.1rem / 1.4rem);
  --line-height-19: calc(1.9rem / 1.2rem);
  --line-height-15: calc(1.5rem / 1.2rem);
}

.main-container .container {
  max-width: 1395px;
}

.footer_section .container {
  max-width: 1395px;
}

@media (max-width: 1750px) {
  .main-container .container {
    max-width: 1274px;
  }

  .footer_section .container {
    max-width: 1395px;
  }

  html {
    font-size: 60%;
  }
}

@media (max-width: 1650px) {
  html {
    font-size: 50.5%;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1024px;
  }

  html {
    font-size: 48.5%;
  }
}

@media (max-width: 1366px) {
  .main-container .container {
    max-width: 1000px;
  }

  html {
    font-size: 40.5%;
  }
}

@media (max-width: 1280px) {
  .main-container .container {
    max-width: 1000px;
  }

  .footer_section .container {
    max-width: 1000px;
  }

  html {
    font-size: 45.5%;
  }

}

@media (max-width: 1024px) {
  .main-container .container {
    max-width: 758;
  }

}

@media (max-width: 767px) {
  .main-container .container {
    max-width: 640px;
    padding-inline: 2rem;
  }

  .footer_section .container {
    max-width: 640px;
    padding-inline: 2rem;
  }
  .program-hide{
    display: none !important;
  }

}

@media (min-width: 1921px) {
  html {
    font-size: 65%;
  }

  .main-container .container {
    max-width: 1570px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer_section .container {
    max-width: 1570px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hamb_grid_menus {
    grid-template-columns: 20% 78%;
    min-height: 66vh;
  }

  .hamb_grid_menus .hamb_menu_item {
    grid-template-columns: 21% 79%;
  }

  .mega-menu .hambsub_panel .ham-grp .hamb_menu_item .items-menu_ttl {
    padding-right: 12rem;
  }

  .dropdown {
    max-width: 1820px;
  }

  .hamb_menu_item .items-menu_img-grp .items-menu_ttl h3 {
    max-width: 70%;
  }

  .menu-counter p {
    max-width: 36.5%;
  }

  .mega-menu.active-hover .hambmenu_panel {
    padding: 19rem 0 0 0;
  }

}

@media (min-width: 2201px) {
  .main-container .container {
    max-width: 1840px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer_section .container {
    max-width: 1840px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  html {
    font-size: 69.5%;
  }

  .mega-menu .hambsub_panel .ham-grp .hamb_menu_item .items-menu_ttl {
    padding-right: 8rem;
  }

  .hamb_grid_menus .hamb_menu_item p {
    max-width: 90%;
  }

  .hamb_grid_menus {
    min-height: 60vh;
  }

  .hamb_menu_item .items-menu_img-grp .items-menu_ttl h3 {
    max-width: 68%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50.5%;
    scroll-behavior: smooth;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}

.main-container {
  position: relative;
  background-color: var(--color-f6);
}

.testimonials-container img {
  height: 100%;
}

p {
  font: var(--font-16);
  font-weight: normal;
  font-family: var(--font-Roboto);
  color: var(--color-black);
  margin-bottom: 3rem;
}

.fifth-middle-section .button {
  background: #16344e;
  color: #fff !important;
  padding: 0.5rem 2rem;
}

.fifth-middle-section .button:last-child {
  background: unset;
  border: 2px solid #16344e;
  color: #16344e !important;
  font-weight: 500;
}

.highlighted-title {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(to right, #018ce8 40%, #263868 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlighted-title-top-to-botom {
  background: linear-gradient(to bottom, #018ce8 50%, #263868 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 40px;
  font-weight: 700;
}

.nav-link.nav-lists {
  display: block;
  font: var(--font-20);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: var(--color-white);
  padding: 1.4rem 2rem 1.2rem;
  font-family: var(--font-Condensed);
  position: relative;
}

.nav-link.nav-lists:hover:after {
  height: 9rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  content: "";
  top: 5rem;
  left: 0;
}

.active-hover .nav-item:has(.mega-dropdown):hover>a::before {
  content: "";
  width: 80%;
  height: 8px;
  margin: 0 auto;
  display: block;
  color: #b08f29 !important;
  border-bottom: 3px solid #b08f29 !important;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1.5rem;
  top: 100%;
  z-index: 0;
}

.state-dropdown {
  background: #122444;
  color: #fff;
  border: unset;
  border-bottom: 1px solid #546178;
  padding: 12px 0px;
  font-size: 13px;
  width: 100%;
  padding-top: 0;
  cursor: pointer;
}

.contact-form-no-input input[type="number"]::-webkit-inner-spin-button,
.contact-form-no-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.contact-form-no-input input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.nav-item:hover~.nav-item:has(.mega-dropdown)>a::before,
.nav-item:has(.mega-dropdown)~.nav-item:hover>a::before {
  display: none !important;
}

.nav-link.active-link {
  color: #b08f29 !important;
}

.dark-blue-text {
  color: #16344e;
}

.blue-text {
  color: var(--color-e8);
}

.yellow-text {
  color: #b08f29;
}

.second-section-cards-image {
  position: relative;
}

.third-section .testimonial-slider :is(.swiper-button-prev, .swiper-button-next) svg {
  pointer-events: none;
  width: 50%;
  height: 50%;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 30px;
  padding: 0 8px;
}

.engineering-dropdown .triangle-icon {
  position: absolute;
  top: -10px;
  left: 20%;
  color: #16344E;
  width: 1.8rem;
  height: 1.3rem;
}

.ad-link img {
  padding-left: 0.8rem;
  max-width: 10%;
}

.school-below-banner-section ul li::marker {
  color: #b08f29;
}

.school-below-banner-section ul li:first-child::marker {
  color: transparent;
}

.about-home-buttons a:last-child {
  background: unset !important;
  border: 1px solid #16344e;
  color: #16344e !important;
  font-weight: 600;
}

.about-school-buttons a:last-child {
  background: unset !important;
  border: 1px solid #16344e;
  color: #16344e !important;
  font-weight: 500;
}

.departments-list .link-content a {
  width: 80%;
  display: block;
  border-bottom: 1px dotted #ffffff59;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.departments-list .link-content a:last-child {
  border: unset;
}

.departments-list .link-content a:hover {
  color: #fff !important;
}

.fourth-slider-section .banner-links a {
  border-bottom: 1px dotted #f8c326;
}

.third-section .testimonial-slider p {
  font-size: 1.1rem;
}

.third-section .testimonial-slider h6,
.third-section .testimonial-slider small {
  font-size: 0.8rem;
}

.testimonial-slider .swiper-wrapper {
  align-items: center;
}

.explore-program-section a {
  background: var(--color-white);
  font: var(--font-18);
  color: var(--color-29);
  letter-spacing: 0px;
  font-family: var(--font-Condensed);
  font-weight: bold;
  width: 28%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.2rem 0.8rem 0.9rem 1.1rem;
}

.add-item {
  padding-top: 5.7rem;
}

.logo {
  position: relative;
}

.addmision-section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-slider .swiper-slide {
  transition: opacity 0.6s ease-in-out !important;
  opacity: 0 !important;
}

.testimonial-slider .swiper-slide-active {
  opacity: 1 !important;
}

.mega-left-item .dropdown-item {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: block;
  font: var(--font-21);
  color: var(--color-white);
  font-weight: normal;
  padding: 1rem 0;
  margin: 0;
  padding-left: 14rem;
  text-align: left;
}

.mega-left-item .dropdown-item:hover {
  background-color: var(--color-100);
  color: var(--color-4e);
  font-weight: 700;
  transition: 0.3s ease, color 0.3s ease;
}

.mega-title {
  font: var(--font-45);
  letter-spacing: -2.16px;
  font-family: var(--font-Condensed);
  line-height: 0.9;
  max-width: 86%;
  font-weight: 700;
  margin-bottom: 1.7rem;
  text-transform: uppercase;
}

.mega-title span {
  font-family: var(--font-Condensed);
}

.text-dark {
  color: #16344e;
}

.text-blue {
  color: #018ce8;
}

.logo-content img {
  height: auto;
  object-fit: contain;
  transition: width 0.4s ease, height 0.4s ease;
}

.logo-content.scrolled img {
  width: 20.9rem;
  height: auto;
}

.nav-container.header-scrolled {
  padding-block: 1.5rem !important;
}

.top_row {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-right: 0;
  position: relative;
}

.middle-item::marker {
  content: none;
}

.menu-middle:before {
  content: "";
  background-color: #e3e3e3;
  width: 0.2rem;
  height: 100%;
  position: absolute;
  right: 58%;
  bottom: 0rem;
}

.vid-thumb-grp {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 3rem 1.8rem;
  display: flex;
  gap: 0 2.4rem;
  z-index: 99;
}

.vid-thumb-icon {
  position: relative;
  border: 2.5px solid #ffc100;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  min-width: 40px;
  cursor: pointer;
  border-radius: 100%;
}

.vid-thumb-icon:before {
  content: "";
  border: 10px solid transparent;
  border-left-color: var(--color-100);
  display: inline-block;
  border-right-width: 0;
  border-top-width: 8px;
  border-bottom-width: 9px;
  border-left-width: 13px;
  position: absolute;
  top: 29%;
  left: 41%;
}

.vid-thumb-cont {
  padding-right: 5rem;
}

.vid-thumb-cont h6 {
  font: var(--font-16);
  color: var(--color-white);
  font-family: var(--font-Condensed);
  padding-bottom: 0.3rem;
}

.vid-thumb-cont h4 {
  font: var(--font-21);
  color: var(--color-white);
  font-family: var(--font-Condensed);
  font-weight: bold;
}

.acresData {
  display: flex;
  align-items: flex-start;
  margin: 4rem 0 0 4rem;
  gap: 4rem;
}

.acresData h1 span {
  font: var(--font-100);
  font-family: var(--font-Condensed);
  letter-spacing: -4.6px;
  font-weight: bold;
  color: var(--color-e8);
  line-height: 0.7;
  display: flex;
}

.acresData h1 {
  font: var(--font-51);
  display: block;
  letter-spacing: -2.35px;
  color: var(--color-4e);
  font-family: var(--font-Condensed);
  text-transform: uppercase;
}

.acresData p {
  font: var(--font-15);
  font-weight: 300;
  line-height: 1.6;
  max-width: 41%;
  border-bottom: 3px solid var(--color-100);
  padding-bottom: 3rem;
  color: var(--color-black);
}

.vid-thumb-cont:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 67%) no-repeat;
  height: 207px;
  z-index: 9;
}

.items-menu_grp {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 2rem 1.8rem;
  z-index: 99;
}

.cource-sec .cource_top {
  padding-top: 10rem;
}

.cource-sec .program-row {
  padding-block: 6rem 3.5rem;
  border-bottom: solid 1px #e1e1e1;
}

.program-row .rounded-pill {
  margin-block: 5rem 0rem;
}

.programs-count {
  color: #b08f29;
  letter-spacing: -8.8px;
  font: var(--font-110);
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

.first-content h1 span {
  font-family: var(--font-Condensed);
}

.input-group>.form-control::placeholder {
  letter-spacing: -0.36px;
  font: var(--font-18);
  padding-top: 1.5rem;
  font-family: "Karla", sans-serif;
  font-style: italic;
  align-items: center;
  padding: 2rem;
  line-height: normal;
}

.input-group-text img {
  padding: 0.5rem;
  max-width: 2.5rem;
  margin-right: 1rem;
}

.program-row .col-lg-8 {
  position: relative;
}

.program-row .col-lg-8:after {
  content: "";
  background-color: #e1e1e1;
  width: 0.1rem;
  height: 13.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4.7rem;
  top: 1rem;
}

.fig-count {
  padding: 3.8rem 6.4rem 3.8rem;
}

.max-content-lg .placement_row {
  margin-bottom: 8rem;
  margin-left: 0;
}

.recruiter-logo .small {
  font: var(--font-14);
  color: var(--color-ai);
  text-transform: uppercase;
  font-family: var(--font-Condensed);
  font-weight: bold;
}

.chance-msg {
  display: flex;
}

.chance-msg-contant {
  padding-left: 1rem;
}

.chance-msg-contant p {
  margin-bottom: 0.5rem;
  font-weight: 200;
  color: var(--color-white);
  font: var(--font-15);
  letter-spacing: -0.23px;
}

.chance-msg-contant strong {
  font: var(--font-18);
  font-weight: 600;
  color: var(--color-white);
  letter-spacing: -0.18px;
}

.contentPart {
  position: relative;
  overflow: hidden;
}

.contentPart::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 28%);
  z-index: 1;
  border-radius: 0.8rem;
}

.contentPart .contant-row {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 1rem 1rem 2rem;
  z-index: 2;
}

.nav-buttons svg {
  font-size: 2.2rem;
}

.divider {
  margin-bottom: 3.6rem;
}

.highlight-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.site-header {
  background: transparent linear-gradient(180deg, rgb(0 0 0 / 51%) 0%, rgb(0 0 0 / 0%) 100%) 0% 0% no-repeat padding-box;
}

.active_head .nav-list {
  background-color: transparent;
}

.active_head .nav-list>li>a {
  color: var(--color-4e);
}

.active_head .site-header .header-scrolled .nav-list>li>a {
  color: var(--color-white);
}

.active_head .nav-list>li.nav-item:hover>a {
  position: relative;
}

.active_head .nav-list>li:hover>a {
  color: var(--color-29);
}

.active_head .nav-list {
  background-color: transparent !important;
}

.banner img {
  border-radius: 5rem 0 0 0;
}

.vid-thumb-grp:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
  background: transparent linear-gradient(0deg, var(--unnamed-color-000000) 0%, #00000000 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(0deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
  height: 207px;
  z-index: -2;
}

@media (max-width: 1366px) {
  .nav-link.nav-lists {
    padding: 1.4rem 1rem 1.2rem;
  }

  .fig-count {
    padding: 3.8rem 4rem;
  }

  .logo-content img {
    width: 35rem;
    height: auto;
  }
}
@media (max-width: 1100px) {

}


.departmentItem {
  font-family: var(--font-Condensed);
}

.aboutSchoolSection .blue-text {
  color: #000;
}

.grid_2 {
  grid-template-columns: 17% 80%;
  display: grid;
  justify-content: space-between;
}

.about_rnk {
  display: flex;
  flex-wrap: wrap;
}

.about_school_left {
  border-right: 1px solid rgba(206, 206, 206, 0.52);
  padding-right: 6rem;
}

.vision_mission {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2rem;
  padding-bottom: 12rem;
}

.container-fluid {
  max-width: 1780px;
}

.about_one .top_log_grid figure img {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.about_one .btm_log_grid figure img {
  width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* inner page css  */



.features-list {
  position: relative;
}

.feature-box {
  top: 0;
  left: 0;
  width: 100%;
}

.facilities-img .sticky-box {
  position: sticky;
  top: 20px;
  z-index: 10;
}


.right-transport-titel p {
  font: var(--font-16);
  font-weight: normal;
  font-family: var(--font-Roboto);
  color: var(--color-black);
}

@media (max-width: 1024px) {
  .logo-content img {
    max-width: 25rem;
  }

  .grid_2 {
    display: block;
  }

  .depar-button {
    display: flex;
    gap: 1.5rem;
  }

  .blueBg {
    max-width: 25%;
    height: 100%;
  }

  .description {
    max-width: 100%;
  }

  .about_school_left {
    padding-right: 0rem;
    margin-bottom: 4rem;
  }

  .about_school_left {
    border-right: none;
  }

}

@media (max-width:991px) {
  .cource-sec .cource_top {
    padding-top: 6rem;
  }

  .form-control::placeholder {
    font: var(--font-10);
  }

  .program-row .col-lg-8:after {
    content: none;
  }

  .add-item {
    padding-top: 3rem;
  }

  .max-content-lg .placement_row {
    margin-bottom: 6rem;
    margin-left: 0;
  }
.abt_cntnt {padding-top: 4rem;}
}

@media (max-width:767px) {
  .course-items {
    padding-block: 2rem;
    padding-inline: 1.5rem;
  }

  .max-content-lg .placement_row {
    margin-bottom: 0rem;
    margin-left: 0;
  }

  .logo-content img {
    max-width: 23rem;
  }

  .programsCountSection {
    display: none !important;
  }

}

@media screen and (max-width:375px) {
  .cource-sec .cource_top {
    padding-top: 4rem;
    padding-inline: 0;
  }

  .secondSection {
    padding-inline: 0;
  }

  .depar-button {
    gap: 0.5rem;
  }

}



.panel {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}


/* Wrapper around input for relative positioning */
.search-wrapper {
  position: relative;
  width: 100%;
  margin-block: 3rem;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font: var(--font-14);
  font-weight: normal;
  font-family: var(--font-Roboto);
  color: var(--color-black);
  margin-top: 1rem;
}

.search-item {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-results .no-results {
  font: var(--font-14);
  font-weight: normal;
  font-family: var(--font-Roboto);
  color: #a02b2d;
  padding: 1.2rem;
}

.search-item:hover {
  background-color: var(--color-4e);
  color: #fff;
  transition: background-color 0.2s;
}

/* Search input wrapper */
.search-wrapper input.form-control {
  font: var(--font-14);
  font-weight: normal;
  font-family: var(--font-Roboto);
  color: var(--color-black);
  padding-inline: 2rem;
  padding-block: 1.2rem;
}

/* Placeholder font size */
.search-wrapper input.form-control::placeholder {
  font: var(--font-14);
  font-weight: normal;
  font-family: var(--font-Roboto);
  color: var(--color-black);
  opacity: 0.5;
  letter-spacing: -0.36px;
  font-style: italic;


}

.search-item .search-link {
  font: var(--font-14);
  color: var(--color-black);
  font: var(--font-14);
  font-weight: normal;
  font-family: var(--font-Condensed);
}

.search-item:hover .search-link {
  color: #fff;
}
