.secondSection {
  background: #f6f6f6;
  padding: 0;
}


.topSectionH5 {
  text-transform: uppercase;
  color: var(--color-4e);
  font: var(--font-21);
  font-family: var(--font-Condensed);
  font-weight: 600;
  margin-bottom: 1rem;
}

.topSectionH1 {
  font: var(--font-60);
  color: var(--color-4e);
  font-weight: bold;
  letter-spacing: -2.88px;
  font-family: var(--font-Condensed);
  text-transform: uppercase;
  max-width: 80%;
}

.topSectionH1 span:nth-child(2) {
  font-family: var(--font-Condensed);
  letter-spacing: -2.88px;
  text-transform: uppercase;
}

.topSectionH1 span:first-child {
  font: var(--font-60);
  color: var(--color-e8);
  letter-spacing: -2.88px;
  font-family: var(--font-Condensed);
  text-transform: uppercase;
}

.searchBox {
  width: 94%;
  height: 3.9rem;
  margin-block: 2.7rem 4.5rem;
}

.programsCount {
  color: #b08f29 !important;
  letter-spacing: -8.8px !important;
  font: var(--font-110) !important;
  font-family: "Oswald", sans-serif !important;
  font-weight: normal !important;
}

.programsCountWrapper {
  position: relative;
  display: inline-block;
}

.programsCountPlus {
  color: #ac9031;
  font: var(--font-60);
  font-weight: 400;
  position: absolute;
  top: 0.4rem;
  letter-spacing: -6.08px;
  right: 0px;
  left: 15rem;
  font-family: "Oswald", sans-serif;
}

.cardOverlay {
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 10px;
}

.programsText {
  font: var(--font-24);
  color: var(--color-27);
  letter-spacing: -0.48px;
  font-weight: 300;
  font-family: "Geist", sans-serif;
  padding-left: 4rem;
}

.admissionYearText {
  color: #018ce8;
}

.admissionSection h4 span {
  font: var(--font-26);
  color: var(--color-black);
  font-family: var(--font-Condensed);
  letter-spacing: -0.52px;
}

.admissionSection h4 span:nth-child(2) {
  color: var(--color-e8);
  font-family: var(--font-Condensed);
}

.admissionSection p {
  font: var(--font-18);
  color: var(--color-black);
  font-family: var(--font-Condensed);
  font-weight: 300;
}

.admissionSection a {
  padding: 0.8rem 2.8rem 0.8rem;
  font: var(--font-16);
  font-family: var(--font-Condensed);
}

.bottomSectionH6 {
  font: var(--font-20);
  color: var(--color-black);
  font-family: var(--font-Condensed);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
  position: relative;
}

.bottomSectionH6::after {
  content: "";
  background-color: #e1e1e1;
  width: 108%;
  width: calc(114% - 26px);
  height: .1rem;
  left: 40%;
  position: absolute;
  top: 1rem;
  bottom: 0;
}

.bannerLabel {
  color: #fff;
  border-left: 4px solid #ffc100;
  border-radius: 2px;
  width: 100%;
  font-family: Geist, sans-serif;
  font: var(--font-28);
  position: absolute;
  bottom: 1.4rem;
  padding-left: 10px;
  gap: 1.2rem;
  left: 0;
  letter-spacing: -0.84px;
  text-transform: uppercase;
}

.searchBox input::placeholder {
  font-size: 1.4rem;
  opacity: 0.6;
  font-style: italic;
}

.cardImage {
  width: 100%;
  height: 100%;
}

.programsCountSection {
  gap: 2.7rem;
}

.programsCardsSection {
  justify-content: end;
}

.rightDesktopArrow {
  display: block;
}

.rightMobileArrow {
  display: none;
}

.showOnlyMobileCard {
  display: none;
}

.showOnlyMobileSubHeading {
  display: none;
}

@media (min-width: 2200px) and (max-width:2550) {
  .programsText {
    max-width: 50%;
  }

  .topSectionH1 {
    max-width: 70%;
  }
}

@media (max-width: 1749px) {
  .topSectionH1 {
    max-width: 78%;
  }

  .programsText {
    max-width: 55%;
  }
}

@media (max-width: 1366px) {
  .topSectionH1 {
    max-width: 75%;
  }

  .admissionSection a {
    padding: 0.8rem 1.8rem 0.8rem;
  }
}


@media (min-width: 1040px) and (max-width: 1380px) {
  .programsCountPlus {
    font-size: 4.7rem;
    top: 4px;
    right: 0px;
  }

  .programsText {
    padding-left: 2rem
  }

  .bottomSectionH6::after {
    width: 77rem;
    left: 53%;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .programsCardsSection {
    justify-content: space-between;
  }

  .programsCountSection {
    margin: 0;
  }

  .admissionSection {
    padding-bottom: 16px;
    padding-left: 1rem;
    padding-right: 4rem;
    border-right: 1px solid #e9e4e4;
  }

  .admissionSection p {
    font-weight: 300;
  }

  .searchBox {
    width: fit-content;
    height: 35px;
    margin: 1rem 0;
  }

  .topSection {
    top: -5px;
    right: -15px;
  }


  .topSectionH5 {
    margin-bottom: 0.6rem;
  }

}

@media (max-width:991) {
  .bottomSectionH6::after {
    width: 100%;
    left: 0;
  }

  .cource-sec .cource_top {
    padding-top: 6rem;
  }

  .topSectionH1 {
    max-width: 100%;
  }

  .searchBox {
    width: 60%;
    height: auto;
    margin: 2rem 0;
  }

  .programsCardsSection {
    justify-content: flex-start;
  }

  .bottomSectionH6::after {
    content: none;
  }

  .admissionSection {
    border-right: none;
    padding-bottom: 0;
  }

}

@media (max-width: 767px) {
  .showOnlyMobileSubHeading {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 3rem;
  }

  .topSectionH1 {
    font: var(--font-34);
    color: var(--color-4e);
    font-weight: bold;
    font-family: var(--font-Condensed);
    text-transform: uppercase;
    letter-spacing: -1.63px;
    max-width: 100%;
    list-style: 30px;
  }

  .topSectionH1 span:first-child {
    font: var(--font-34);
    font-family: var(--font-Condensed);
    letter-spacing: -1.63px;
    list-style: 30px;
  }

  .showOnlyMobileCard h1 {
    font: var(--font-48);
    letter-spacing: -2.4px;
    color: #018CE8;
    font-weight: 600;
  }
   .showOnlyMobileCard h5 {
    font: var(--font-20);
    letter-spacing: -0.6px;
    color: #018CE8;
    font-weight: 600;
  }
 
.lastCardArrow {
    position: absolute;
    margin-bottom: 1.5rem;
  }
  .cource-sec {padding-bottom: 0;}

  .topSectionH5 {
    display: none;
  }

  .secondSection {
    padding: 0;
    background: transparent;
  }

  .topSection {
    background: #f6f6f6;
    padding: 2.5rem 1rem;
    margin: 0 !important;
    padding-bottom: 1rem;
  }

  .topSectionH1 {
    width: 100%;
    text-align: center;
    line-height: 30px;
  }

  .searchBox {
    display: none;
  }

  .programsCountSection {
    display: none !important;
  }

  .exploreProgramSectionWrapper {
    display: none!important;
  }

  .programsCardsSection {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px !important;
    padding: 0;
  }

  .second-section-cards-image {
    width: 45%;
  }

  .programsCardsSection a {
    width: 47%;
  }

  .bannerLabel {
    justify-content: space-between;
    padding-right: 10px;
    border: unset;
  }

  .rightDesktopArrow {
    display: none;
  }

  .rightMobileArrow {
    display: block;
  }

  .showOnlyMobileCard {
    background: #fff;
    border-radius: 30px 4px 10px 10px;
    width: 45%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }

  .lastCardArrow {
    position: absolute;
    bottom: 0;
  }

  .cardImage {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
  }

  .cardOverlay {
    background: linear-gradient(rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.4) 70%,
        rgba(0, 0, 0, 0.8) 100%);
    border-radius: 4px;
  }

  .showOnlyMobileCard p {
    margin-bottom: 5px;
  }


  .showOnlyMobileCard h5 {
    color: #16344e;
    font-weight: 600;
     font-family: var(--font-Condensed);
  }

  .exploreAllLink {
    width: 100% !important;
  }
.programsCardsSection {justify-content: flex-start;}
.bannerLabel {
  font: var(--font-20);
 letter-spacing: -0.6px;
}
}


@media (max-width: 375px) {
.bannerLabel{

}
}