/* [project]/src/app/contact-us/page.module.css [app-client] (css) */
.page-module__IEM2ma__contactSection {
  background: linear-gradient(rgba(1, 140, 232, .16) 30%, #f6fbfb 30%);
  padding: 12rem 0 8rem;
}

.page-module__IEM2ma__topText {
  color: #16344e;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
}

.page-module__IEM2ma__mapContainer {
  padding-top: 8rem;
}

.page-module__IEM2ma__mapContainer .page-module__IEM2ma__topText {
  text-align: center;
  margin-bottom: 4rem;
}

.page-module__IEM2ma__mainHeading {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 5rem;
  font-size: 38px;
  font-weight: 700;
}

.page-module__IEM2ma__mainHeading span {
  color: #2b66e3;
}

.page-module__IEM2ma__imageWrapper {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 10px;
  width: 70%;
  overflow: hidden;
}

.page-module__IEM2ma__formBox input::placeholder {
  color: #fff;
}

.page-module__IEM2ma__formBox input {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .28);
  border-radius: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-left: 0;
  font-size: 14px;
}

.page-module__IEM2ma__formBox {
  color: #fff;
  background: #0b2545;
  border-bottom-right-radius: 40px;
  width: 30%;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
}

.page-module__IEM2ma__mailIcon {
  background: rgba(1, 140, 232, .24);
  border-radius: 40px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  display: flex;
}

.page-module__IEM2ma__formHeading {
  color: #ecc820;
  margin-bottom: 10px;
}

.page-module__IEM2ma__yellowLine {
  background-color: #f5c518;
  width: 4px;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-module__IEM2ma__formSubText {
  margin-bottom: 24px;
  font-size: 15px;
}

.page-module__IEM2ma__form-control {
  border: 1px solid #dcdcdc;
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 6px !important;
}

.page-module__IEM2ma__submitBtn {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  margin-top: 1rem;
  padding: 8px 28px;
  font-size: 13px;
  transition: all .3s;
}

.page-module__IEM2ma__submitBtn:hover {
  color: #fff;
  background: #b59730;
  border-color: #b59730;
}

.page-module__IEM2ma__infoRow {
  align-items: center;
  margin-left: 6rem;
  padding-top: 2%;
  position: relative;
}

.page-module__IEM2ma__borderBox {
  border-left: 1px solid rgba(128, 128, 128, .35);
  border-right: 1px solid rgba(128, 128, 128, .35);
  height: 70px;
}

.page-module__IEM2ma__address {
  color: #111;
  width: 90%;
  margin-bottom: 10px;
  padding-left: 1rem;
  font-size: 18px;
  font-weight: 700;
}

.page-module__IEM2ma__infoBox {
  color: #0b2545;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  display: flex;
}

.page-module__IEM2ma__infoBox i {
  color: #2b66e3;
  font-size: 18px;
}

@media (max-width: 768px) {
  .page-module__IEM2ma__contactSection {
    padding: 50px 0;
  }

  .page-module__IEM2ma__mainHeading {
    font-size: 22px;
  }

  .page-module__IEM2ma__formBox {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=src_app_contact-us_page_module_be0e0a29.css.map*/