/* [project]/src/component/home-components/about-home-jss/about-home-jss.module.css [app-client] (css) */
.about-home-jss-module__Uc86oW__fifthSection {
  background: #e6ffff;
  padding: 6rem 12rem;
}

.about-home-jss-module__Uc86oW__topSection {
  margin-bottom: 1rem;
}

.about-home-jss-module__Uc86oW__topSectionHeading {
  width: 40%;
  margin-bottom: 2rem;
  font-size: 60px;
  font-weight: bold;
}

.about-home-jss-module__Uc86oW__violetText {
  color: #9852a1;
}

.about-home-jss-module__Uc86oW__fifthMiddleSection {
  align-items: center;
}

.about-home-jss-module__Uc86oW__navButtons {
  background: #16344e;
  align-items: center;
  padding: .8rem 2rem;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  color: #fff !important;
}

.about-home-jss-module__Uc86oW__navButtons:hover {
  opacity: .9;
  color: #fff;
}

.about-home-jss-module__Uc86oW__leftColumn {
  border-right: 1px solid rgba(212, 212, 212, .8);
  padding-right: 4rem;
}

.about-home-jss-module__Uc86oW__rightColumn {
  padding-left: 5rem;
}

.about-home-jss-module__Uc86oW__contentPart {
  color: #fff;
  background: rgba(0, 0, 0, .3);
  border-radius: .25rem;
  gap: 1rem;
  width: 100%;
  margin-top: .5rem;
  padding: .5rem;
  font-size: .875rem;
  display: flex;
  position: absolute;
  bottom: 0;
}

.about-home-jss-module__Uc86oW__chancellorImage {
  width: 100%;
  height: auto;
}

.about-home-jss-module__Uc86oW__description {
  width: 75%;
  font-weight: 300;
}

.about-home-jss-module__Uc86oW__highlightBox {
  border: 1px solid #dee2e6;
  gap: .75rem;
  padding: 1rem;
  display: flex;
}

.about-home-jss-module__Uc86oW__highlightNumber {
  color: #9852a1;
  font-weight: bold;
}

.about-home-jss-module__Uc86oW__sourceText {
  font-size: 1.25rem;
  font-weight: bold;
}

.about-home-jss-module__Uc86oW__topSection p {
  color: #16344e;
  font-size: 18px;
}

.about-home-jss-module__Uc86oW__cardTitle {
  font-size: 20px;
}

.about-home-jss-module__Uc86oW__accreditationLogo {
  width: 15%;
  height: auto;
}

.about-home-jss-module__Uc86oW__accreditationSlide p {
  color: #212121;
  font-family: Geist, sans-serif;
  font-size: 16px;
}

.about-home-jss-module__Uc86oW__accreditationSlide:last-child {
  border: none;
}

.about-home-jss-module__Uc86oW__fifthSectionSlider {
  margin-top: 4rem;
  padding: 0 2rem;
}

.about-home-jss-module__Uc86oW__fifthSectionSlider .about-pagination {
  justify-content: center;
  height: 10px;
  margin-top: 1rem;
  display: flex;
}

.about-home-jss-module__Uc86oW__fifthSectionSlider .about-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}

.about-home-jss-module__Uc86oW__fifthSectionSlider .about-pagination .swiper-pagination-bullet-active {
  background-color: #16344e;
  transform: scale(1.5);
}

.about-home-jss-module__Uc86oW__onlyDesktop {
  display: flex !important;
}

.about-home-jss-module__Uc86oW__onlyMobile {
  display: none;
}

@media (min-width: 1381px) and (max-width: 1919px) {
  .about-home-jss-module__Uc86oW__accreditationLogo {
    width: 30%;
  }

  .about-home-jss-module__Uc86oW__accreditationSlide p {
    font-size: 14px;
  }

  .about-home-jss-module__Uc86oW__topSectionHeading {
    font-size: 40px;
  }

  .about-home-jss-module__Uc86oW__about-home-jss-module__Uc86oW__topSection p, .about-home-jss-module__Uc86oW__description {
    font-size: 14px;
  }

  .about-home-jss-module__Uc86oW__cardTitle {
    font-size: 16px;
  }

  .about-home-jss-module__Uc86oW__highlightNumber {
    font-size: 30px;
  }

  .about-home-jss-module__Uc86oW__navButtons {
    padding: .5rem 2rem;
  }
}

@media (min-width: 1040px) and (max-width: 1380px) {
  .about-home-jss-module__Uc86oW__accreditationLogo {
    width: 25%;
  }

  .about-home-jss-module__Uc86oW__fifthSection {
    padding: 6rem;
  }

  .about-home-jss-module__Uc86oW__accreditationSlide p {
    font-size: 14px;
  }

  .about-home-jss-module__Uc86oW__topSectionHeading {
    font-size: 40px;
  }

  .about-home-jss-module__Uc86oW__about-home-jss-module__Uc86oW__topSection p, .about-home-jss-module__Uc86oW__description {
    font-size: 14px;
  }

  .about-home-jss-module__Uc86oW__cardTitle {
    font-size: 16px;
  }

  .about-home-jss-module__Uc86oW__highlightNumber {
    font-size: 30px;
  }

  .about-home-jss-module__Uc86oW__navButtons {
    padding: .5rem 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .about-home-jss-module__Uc86oW__fifthSection {
    padding: 4rem;
  }

  .about-home-jss-module__Uc86oW__topSection p {
    margin-bottom: 12px;
    font-size: 12px;
  }

  .about-home-jss-module__Uc86oW__topSectionHeading {
    width: 60%;
    font-size: 25px;
  }

  .about-home-jss-module__Uc86oW__leftColumn {
    border-right: unset;
    width: 100%;
    padding: 0 12px;
  }

  .about-home-jss-module__Uc86oW__rightColumn {
    width: 100%;
    padding-left: 1rem;
  }

  .about-home-jss-module__Uc86oW__description {
    font-size: 14px;
  }

  .about-home-jss-module__Uc86oW__highlightNumber {
    font-size: 30px;
  }

  .about-home-jss-module__Uc86oW__cardTitle {
    font-size: 15px;
  }

  .about-home-jss-module__Uc86oW__sourceText {
    font-size: 1.2rem;
  }

  .about-home-jss-module__Uc86oW__navButtons {
    padding: .4rem 1rem;
    font-size: 13px;
  }

  .about-home-jss-module__Uc86oW__accreditationLogo {
    width: 25%;
  }

  .about-home-jss-module__Uc86oW__accreditationSlide p {
    color: #212121;
    font-family: Geist, sans-serif;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .about-home-jss-module__Uc86oW__accreditationHeading {
    text-align: center;
    color: #0036a1;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 600;
  }

  .about-home-jss-module__Uc86oW__fifthSection {
    background: #16344e;
    padding: 5rem 0 3rem;
  }

  .about-home-jss-module__Uc86oW__fifthContainerSection {
    background: #e6ffff;
    padding: 3rem 1.3rem;
  }

  .about-home-jss-module__Uc86oW__topSection p {
    text-align: center;
    font-size: 14px;
  }

  .about-home-jss-module__Uc86oW__description {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .about-home-jss-module__Uc86oW__topSectionHeading {
    text-align: center;
    width: 100%;
    margin-bottom: 1.3rem;
    font-size: 34px;
  }

  .about-home-jss-module__Uc86oW__rightArrowIcon {
    font-size: 22px;
  }

  .about-home-jss-module__Uc86oW__leftColumn {
    display: none;
  }

  .about-home-jss-module__Uc86oW__rightColumn {
    padding-left: 12px;
  }

  .about-home-jss-module__Uc86oW__onlyDesktop {
    display: none !important;
  }

  .about-home-jss-module__Uc86oW__onlyMobile {
    display: block;
  }

  .about-home-jss-module__Uc86oW__rightArrowIconDiv {
    justify-content: center;
    display: flex;
    margin-bottom: .8rem !important;
  }

  .about-home-jss-module__Uc86oW__cardTitle {
    font-size: 15px;
  }

  .about-home-jss-module__Uc86oW__sourceText {
    font-size: 1rem;
  }

  .about-home-jss-module__Uc86oW__aboutBtnDiv {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.3rem;
    gap: 10px !important;
  }

  .about-home-jss-module__Uc86oW__navButtons {
    padding: .5rem 1rem;
    font-size: 14px;
  }

  .about-home-jss-module__Uc86oW__onlyMobile .swiper-wrapper {
    height: 120px;
  }

  .about-home-jss-module__Uc86oW__accreditationLogo {
    width: 35%;
  }

  .about-home-jss-module__Uc86oW__accreditationSlide p {
    font-size: 15px;
    width: 100% !important;
  }

  .about-home-jss-module__Uc86oW__fifthSectionSlider {
    margin-top: 3rem;
    padding: 0 0;
  }

  .about-home-jss-module__Uc86oW__accreditationSlide {
    background: #fff;
    border-radius: 8px;
    padding: 1rem;
  }
}

/*# sourceMappingURL=src_component_home-components_about-home-jss_about-home-jss_module_css_bad6b30c._.single.css.map*/