/* [project]/src/component/happening-components/news-events/news-events.module.css [app-client] (css) */
.news-events-module__WsP3GG__eventsSection {
  padding: 4rem 0;
}

.news-events-module__WsP3GG__bannerTextBox {
  color: #fff;
  background: #0b2545;
  max-width: 25%;
  padding: 20px 30px;
  position: relative;
  bottom: 5rem;
  left: 6rem;
}

.news-events-module__WsP3GG__filters {
  z-index: 1;
  margin-top: 15px;
  margin-right: 20px;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}

.news-events-module__WsP3GG__filters select {
  color: #fff;
  background: #b08f29;
  border-radius: 6px;
  width: 160px;
  padding: 10px;
  font-size: 14px;
}

.news-events-module__WsP3GG__eventCard {
  border-radius: 10px;
  transition: all .3s;
  overflow: hidden;
}

.news-events-module__WsP3GG__cardDate {
  margin-bottom: 5px;
  font-size: 13px;
}

.news-events-module__WsP3GG__cardsRow {
  background: #fff;
  padding: 5rem 5rem 4rem;
}

.news-events-module__WsP3GG__cardTitle {
  font-size: 18px;
  line-height: 1.4;
}

.news-events-module__WsP3GG__textOnlyCard .news-events-module__WsP3GG__cardTitle {
  color: #fff;
}

.news-events-module__WsP3GG__eventType {
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}

.news-events-module__WsP3GG__eventDate:before {
  content: "";
  background: #ffa600;
  width: 5rem;
  height: 4px;
  margin-bottom: 10px;
  display: block;
}

.news-events-module__WsP3GG__eventDate {
  color: #16344e;
  margin-bottom: 6px;
  font-size: 15px;
}

.news-events-module__WsP3GG__textOnlyCard .news-events-module__WsP3GG__cardBody {
  color: #fff;
  padding: 0;
}

@media (max-width: 768px) {
  .news-events-module__WsP3GG__bannerTextBox {
    margin-top: -60px;
    position: relative;
    left: 0;
  }

  .news-events-module__WsP3GG__filters {
    margin-top: 20px;
    justify-content: center !important;
  }

  .news-events-module__WsP3GG__eventCard {
    height: auto;
  }
}

.news-events-module__WsP3GG__bannerWrapper {
  position: relative;
}

.news-events-module__WsP3GG__bannerImage {
  border-radius: 0;
}

.news-events-module__WsP3GG__upcomingTag {
  color: #b59730;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
}

.news-events-module__WsP3GG__bannerTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.news-events-module__WsP3GG__bannerDate {
  color: #cdd7e0;
  margin-top: 8px;
  font-size: 13px;
}

.news-events-module__WsP3GG__filters {
  margin-top: 15px;
  margin-right: 20px;
}

.news-events-module__WsP3GG__secondarySection {
  background: linear-gradient(to top, #fff 40%, #f6fbfb 40%);
  padding: 0 4rem 4rem;
}

.news-events-module__WsP3GG__secondaryImageWrapper {
  border-radius: 10px;
  overflow: hidden;
}

.news-events-module__WsP3GG__secondaryText {
  padding-top: 2rem;
  padding-left: 2rem;
}

.news-events-module__WsP3GG__eventTitle {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #018ce8 52%, #263868 40%);
  -webkit-background-clip: text;
  background-clip: text;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
}

.news-events-module__WsP3GG__eventDesc {
  font-size: 15px;
  line-height: 1.6;
}

.news-events-module__WsP3GG__cardsRow {
  margin-top: 40px;
}

.news-events-module__WsP3GG__eventCard:hover {
  transform: translateY(-3px);
}

.news-events-module__WsP3GG__eventImage {
  object-fit: cover;
}

.news-events-module__WsP3GG__cardBody {
  padding: 15px;
}

.news-events-module__WsP3GG__textOnlyCard {
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
  display: flex;
}

@media (max-width: 768px) {
  .news-events-module__WsP3GG__bannerTextBox {
    margin-top: -60px;
    position: relative;
    left: 0;
  }

  .news-events-module__WsP3GG__filters {
    margin-top: 20px;
    justify-content: center !important;
  }

  .news-events-module__WsP3GG__eventCard {
    height: auto;
  }
}

/*# sourceMappingURL=src_component_happening-components_news-events_news-events_module_css_bad6b30c._.single.css.map*/