.bannerContent {
 color: #fff;
    width: 30%;
    position: absolute;
    top: 48%;
    left: 28.7%;
    transform: translate(-50%, -50%);
}
.bannerOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.8) 100%
  );
  bottom: 0;
}

.bannerContentH1 {
     font: var(--font-60);
    color: var(--color-white);
    font-weight: bold;
    letter-spacing: -2.88px;
    font-family: var(--font-Condensed);
    padding-bottom: 4rem;
    margin: 10rem 0 0 0;
}

.bannerContentP {
   font: var(--font-16);
    color: var(--color-white);
    font-family: var(--font-Roboto);
    font-weight: 300;
    padding-right: 5rem
}

.bannerContentA {
  padding-bottom: 8px;
  border-bottom: 1px solid;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
}

.bannerContentA:hover {
  opacity: 0.8;
}

.swiperContainer {
  width: 100%;
}

.desktopBanner {
  display: block;
}
.mobileBanner {
  display: none;
}

.iconSpacing {
  margin-left: 20px;
}

/* Responsive Design */
@media (min-width: 1040px) and (max-width: 1380px) {
  .bannerContentH1 {
    font-size: 34px;
    margin-bottom: 1rem;
  }

  .bannerContent {
    width: 40%;
  }
  .bannerContentP {
    font-size: 12px;
    margin-bottom: 1rem;
  }
  .bannerContentA {
    font-size: 12px;
  }
}

@media (min-width: 1921px) and (max-width: 3840px) {
  .bannerContent {
    left: 29%;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .bannerContentH1 {
    font-size: 25px;
    margin-bottom: 1rem;
  }
  .bannerContentA {
    font-size: 12px;
  }
  .bannerContentP {
    margin-bottom: 1rem;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .desktopBanner {
    display: none;
  }
  .mobileBanner {
    display: block;
  }

  .bannerContentH1 {
    font-size: 28px;
    margin-bottom: 1rem;
  }

  .bannerContentP {
    font-size: 14px;
    margin-bottom: 1.5rem;
  }

  .bannerContentA {
    color: #000;
    font-size: 15px;
    margin: auto;
    justify-content: center;
    font-weight: 500;
  }
  .bannerOverlay {
    background: #16344e;
    position: unset;
    padding-bottom: 5rem;
  }
  .bannerContent {
    color: #000;
    width: 100%;
    position: unset;
    transform: unset;
    text-align: center;
    padding: 2rem 1.6rem;
    background: #fff;
  }
}
