.bannerContent {
  color: #fff;
  width: 30%;
  position: absolute;
  top: 48%;
  left: 28.9%;
  transform: translate(-50%, -50%);
}

.bannerOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(to left,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.4) 70%,
      rgba(0, 0, 0, 0.8) 100%);
  bottom: 0;
}

.bannerContentH1 {
  font: var(--font-60);
  color: var(--color-white);
  font-weight: bold;
  letter-spacing: -2.88px;
  font-family: var(--font-Condensed);
  padding-bottom: 4rem;
  margin: 10rem 0 0 0;
}

.bannerContentP {
  font: var(--font-16);
  color: var(--color-white);
  font-family: var(--font-Roboto);
  font-weight: 300;
  padding-right: 5rem
}

.bannerContentA {
  padding-bottom: 8px;
  border-bottom: 1px solid;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  padding-top: 4rem;
}

.bannerContentA:hover {
  opacity: 0.8;
}

.swiperContainer {
  width: 100%;
}

.desktopBanner {
  display: block;
}

.mobileBanner {
  display: none;
}

.iconSpacing {
  margin-left: 20px;
}

/* Responsive Design */
@media (min-width: 2200px) and (max-width:2550) {
  .bannerContent {
    width: 25%;
    left: 27%;
  }

  .blueBg {
    max-width: 25%;
  }

}

@media (max-width: 1366px) {
  .bannerContent {
    width: 30%;
    top: 52%;
    left: 30.9%;
  }
}

@media (max-width: 1200px) {
  .bannerContentH1 {
    font: var(--font-50);
    letter-spacing: -1.88px;
    font-family: var(--font-Condensed);
    padding-bottom: 4rem;
    margin: 10rem 0 0 0;
  }

  .bannerContent {
    width: 36%;
    top: 56%;
    left: 35.9%;
  }
}
@media (max-width: 1024px) {
  .logo-content img {
    max-width: 30rem;
  }

  .bannerContent {
    width: 44%;
    top: 52%;
    left: 36.9%;
  }
  .bannerContentA {
  padding-top: 2rem;
}
.bannerContentH1 {
    padding-bottom: 2rem;
  }
}
/* Responsive Design */


@media (max-width: 768px) {
  .desktopBanner {
    display: none;
  }

  .mobileBanner {
    display: block;
  }

  .bannerContentH1 {
    margin-bottom: 1rem;
  }

  .bannerContentP {
    margin-bottom: 1.5rem;
  }

  .bannerContentA {
    color: #000;
    font-size: 15px;
    margin: auto;
    justify-content: center;
    font-weight: 500;
  }

  .bannerOverlay {
    background: #16344e;
    position: unset;
    padding-bottom: 5rem;
  }

  .bannerContent {
    color: #000;
    width: 100%;
    position: unset;
    transform: unset;
    text-align: center;
    padding: 2rem 1.6rem;
    background: #fff;
  }
}