.eventsSection {
  padding: 4rem 0;
}

.bannerWrapper {
  position: relative;
}

.bannerImage {
  border-radius: 0;
}

.bannerTextBox {
  position: relative;
  bottom: 5rem;
  left: 6rem;
  background: #0b2545;
  color: #fff;
  padding: 20px 30px;
  max-width: 25%;
}

.upcomingTag {
  color: #b59730;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.bannerTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.bannerDate {
  font-size: 13px;
  margin-top: 8px;
  color: #cdd7e0;
}

.filters {
  margin-top: 15px;
  margin-right: 20px;
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  z-index: 1;
}

.filters select {
  border-radius: 6px;
  width: 160px;
  padding: 10px 10px;
  font-size: 14px;
  background: #b08f29;
  color: #fff;
}

.secondaryImageWrapper {
  border-radius: 10px;
  overflow: hidden;
}

.cardsRow {
  margin-top: 40px;
}

.eventCard {
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.eventCard:hover {
  transform: translateY(-3px);
}

.eventImage {
  object-fit: cover;
}

.cardBody {
  padding: 15px;
}

.cardDate {
  font-size: 13px;
  margin-bottom: 5px;
}
.cardsRow {
  background: #fff;
  padding: 5rem 5rem 4rem 5rem;
}

.cardTitle {
  font-size: 18px;
  line-height: 1.4;
}
.textOnlyCard .cardTitle {
  color: #fff;
}
.eventType {
  letter-spacing: 10px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}
.eventDate:before {
    content: '';
    height: 4px;
    width: 5rem;
    background: #FFA600;
    display: block;
    margin-bottom: 10px;
}
.eventDate {
  color: #16344e;
  font-size: 15px;
  margin-bottom: 6px;
}
.textOnlyCard .cardBody {
  color: #fff;
  padding: 0;
}

@media (max-width: 768px) {
  .bannerTextBox {
    position: relative;
    left: 0;
    margin-top: -60px;
  }

  .filters {
    justify-content: center !important;
    margin-top: 20px;
  }

  .eventCard {
    height: auto;
  }
}

.bannerWrapper {
  position: relative;
}

.bannerImage {
  border-radius: 0;
}

.upcomingTag {
  color: #b59730;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.bannerTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.bannerDate {
  font-size: 13px;
  margin-top: 8px;
  color: #cdd7e0;
}

.filters {
  margin-top: 15px;
  margin-right: 20px;
}

.secondarySection {
  padding: 0 4rem;
  background: linear-gradient(to top, rgb(255 255 255) 40%, #f6fbfb 40%);
  padding-bottom: 4rem;
}

.secondaryImageWrapper {
  border-radius: 10px;
  overflow: hidden;
}

.secondaryText {
  padding-left: 2rem;
  padding-top: 2rem;
}



.eventTitle {
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #018ce8 52%, #263868 40%);
  -webkit-background-clip: text;
  background-clip: text;
  width: fit-content;
}

.eventDesc {
  font-size: 15px;
  line-height: 1.6;
}

.cardsRow {
  margin-top: 40px;
}

.eventCard:hover {
  transform: translateY(-3px);
}

.eventImage {
  object-fit: cover;
}

.cardBody {
  padding: 15px;
}

.textOnlyCard {
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  display: flex;
  padding: 2rem 2rem;
}

@media (max-width: 768px) {
  .bannerTextBox {
    position: relative;
    left: 0;
    margin-top: -60px;
  }

  .filters {
    justify-content: center !important;
    margin-top: 20px;
  }

  .eventCard {
    height: auto;
  }
}
