/* components/home-components/PlacementsSection/PlacementsSection.module.css */

.thirdSection {
  background: #f6f6f6;
  padding-block: 5rem 12rem;
}

.blueBg {
  background: #16344e;
  width: 100%;
  max-width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.statsNumber {
  font: var(--font-48);
  letter-spacing: -2.4px;
  color: var(--color-4e);
  font-weight: 500;
}

.testimonialSwiper .eachSlide {
  gap: 6rem;
}

.testimonialSwiper small {
  font: var(--font-12);
  color: var(--color-black);
  font-style: italic;
  margin-bottom: 2.4rem;
  display: block;
}

.testimonialSwiper h6 {
  color: #0036a1;
  font: var(--font-12);
  letter-spacing: 0px;
  font-family: var(--font-Condensed);
  margin-bottom: 0.5rem;
}

.statsLabel {
  font: var(--font-14);
  font-family: var(--font-Condensed);
  font-weight: 700;
}

.testimonialSwiper p {
  font: var(--font-18);
  color: var(--color-black);
  margin-bottom: 2.8rem;
  max-width: 90%;
   font-family: var(--font-Condensed);
    font-weight: 300;
}

.wallOfFameText {
  width: 45%;
  bottom: 10%;
  left: 6%;
  font: var(--font-50);
  font-family: var(--font-Condensed);
  letter-spacing: -2.4px;
  line-height: 1;
}



.wallOfFameText span {
  font-family: var(--font-Condensed);
  letter-spacing: -2.4px;
  line-height: 1;
  color: #FFC100;
}



.wallOfFameContainer {
  height: 100%;
  width: 90%;
}

.wallOfFameImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionHeader p {
  text-transform: uppercase;
  color: var(--color-4e);
  font: var(--font-21);
  font-family: var(--font-Condensed);
  margin-bottom: 1rem;
  font-weight: 600;
}

.sectionHeader h2 {
  font: var(--font-60);
  font-family: var(--font-Condensed);
}

.sectionHeader h2 span {
  font: var(--font-60);
  font-family: var(--font-Condensed);
  letter-spacing: -2.88px;
}

.sectionHeader {
  margin-bottom: 4rem;
}

.leftContent {
  padding-bottom: 2rem;
  border-bottom: 1px solid #DFDFDF;
}

.testimonialImageContainer {
  width: 20%;
  height: 100%;
  padding: 1rem;
}

.mobileQuoteIcon {
  display: none;
}

.desktopQuoteIcon {
  display: block;
}

.testimonialImageContainer {
  width: 45%;
  padding: 0;
}
.testimonialSwiper {
  padding: 3rem;
}

@media (min-width: 2200px) and (max-width:2550) {
  .blueBg {
    max-width: 25%;
  }

  .testimonialSwiper p {
    max-width: 74%;
  }

}

@media (max-width: 1599px) {
  .thirdSection {
    padding-block: 10rem;
  }

  .fig-count {
    padding: 3.8rem 4.4rem;
  }
}

@media (max-width: 1366px) {
  .thirdSection {
    padding-block: 8rem;
  }

  .max-content-lg .placement_row {
    margin-bottom: 6rem;
  }

  .testimonialSwiper p {
    max-width: 100%;
  }

  .testimonialImageContainer {
    width: 55%;

  }

  .blueBg {
    max-width: 25%;
    height: 92%;
  }

}

@media (max-width: 1024px) {
  .testimonialImageContainer {
    width: 100%;

  }

  .wallOfFameContainer {
    object-fit: cover;
  }
}

@media (max-width: 991px) {
  .thirdSection {
    padding-block: 6rem;
  }

  .max-content-lg .placement_row {
    margin-bottom: 6rem;
    margin-left: 0;
  }

  .testimonialImageContainer {
    width: 50%;


  }

  .testimonialSwiper .eachSlide {
    gap: 4rem;
  }

  .blueBg {
    max-width: 25%;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .sectionHeader p {
    text-align: center;
     font: var(--font-14);
     font-family: var(--font-Condensed);
     font-weight: bold;
  }

  .thirdSection {
    padding-block: 4.4rem 0;
  }
 .testimonialSwiper{
  padding-inline: 0;
  padding-block: 1.2rem;

}
.testimonialSwiper p {
  margin-bottom: 1.6rem;
}

  .sectionHeader h2 {
    font: var(--font-34);
    font-family: var(--font-Condensed);
    letter-spacing: -1.63px;
    text-align: center;
    line-height: 30px;
  }

  .sectionHeader h2 span {
    font: var(--font-34);
    font-family: var(--font-Condensed);
    letter-spacing: -1.63px;
    line-height: 30px;
  }

  .statsNumber {
    letter-spacing: -2px;
    font: var(--font-40);
    font-family: var(--font-Condensed);
    font-weight: 600;
  }

  .blueBg {
    display: none;
  }

  .mobileQuoteIcon {
    display: block;
    margin: 0 auto;
  }

  .desktopQuoteIcon {
    display: none;
  }

  .testimonialSwiper .eachSlide {
    display: block !important;
  }

  .testimonialImageContainer {
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50% !important;
    margin: 0 auto !important;
  }

  .testimonialImageContainer .testimonialImage {
    border-radius: 50% !important;
  }

  .testimonialContent {
    text-align: center;
    margin: 0 auto;
    padding-top: 6rem;
  }

  .testimonialIconContainer {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }

  .wallOfFameContainer {
    display: none !important;
  }

  .recruiterSection {
    text-align: center;
  }

}