/* components/home-components/PlacementsSection/PlacementsSection.module.css */

.thirdSection {
  background: #f6f6f6;
  padding-block: 15rem;
}

.blueBg {
  background: #16344e;
  width: 100%;
  max-width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.statsNumber {
  font: var(--font-48);
  letter-spacing: -2.4px;
  font-family: var(--font-Condensed);
  color: var(--color-4e);
}

.testimonialSwiper .eachSlide {
  gap: 6rem;
}
.testimonialSwiper small {
  font: var(--font-12);
  color: var(--color-black);
  font-style: italic;
  margin-bottom: 2.4rem;
  display: block;
}
.testimonialSwiper h6 {
  color: #0036a1;
  font: var(--font-12);
  letter-spacing: 0px;
  font-family: var(--font-Condensed);
  margin-bottom: 0.5rem;
}

.statsLabel {
  font: var(--font-14);
  font-family: var(--font-Condensed);
  font-weight: 700;
}
.testimonialSwiper p {
  font: var(--font-20);
  font-family: var(--font-Condensed);
  font-weight: 300;
  color: var(--color-black);
  margin-bottom: 2.8rem;
  max-width: 90%;
}
.wallOfFameText {
  width: 45%;
  bottom: 10%;
  left: 6%;
  font: var(--font-50);
  font-family: var(--font-Condensed);
  letter-spacing: -2.4px;
  line-height: 1;
}



.wallOfFameText span{
  font-family: var(--font-Condensed);
  letter-spacing: -2.4px;
  line-height: 1;
}



.wallOfFameContainer {
  height: 100%;
  width: 90%;
}

.wallOfFameImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sectionHeader p {
  text-transform: uppercase;
  color: var(--color-4e);
  font: var(--font-21);
  font-family: var(--font-Condensed);
  margin-bottom: 1rem;
  font-weight: 600;
}

.sectionHeader h2 {
 font: var(--font-60);
 font-family: var(--font-Condensed);
}
.sectionHeader h2 span{
   font: var(--font-60);
 font-family: var(--font-Condensed);
 letter-spacing: -2.88px;
}
.sectionHeader {
  margin-bottom: 4rem;
}
.leftContent {
  padding-bottom: 2rem;
  border-bottom: 1px solid #f1d9d9;
}
.testimonialImageContainer {
  width: 20%;
  height: 100%;
  padding: 1rem;
}
.mobileQuoteIcon {
  display: none;
}
.desktopQuoteIcon {
  display: block;
}
 .testimonialImageContainer {
    width: 45%;
    padding: 0;
  }

@media (min-width: 2200px) and (max-width:2550) {
.blueBg {
  max-width: 25%;
}
.testimonialSwiper p {max-width: 74%;}

}
@media (max-width: 1599px){
.thirdSection {
  padding-block: 10rem;
}
}
@media (max-width: 1366px){
.thirdSection {
  padding-block: 8rem;
}
.max-content-lg .placement_row {
  margin-bottom: 6rem;
}
.testimonialSwiper p {
  max-width: 100%;
}
 .testimonialImageContainer {
    width: 55%;
    
  }
  .blueBg {
  max-width: 25%;
  height: 92%;
  }

}


@media (min-width: 1381px) and (max-width: 1919px) {
  .testimonialImageContainer {
    width: 30%;
    padding: 0;
  }
  
  .testimonialSwiper .eachSlide {
    gap: 3rem;
  }
  .blueBg {
    max-width: 15%;
  }

}
@media (min-width: 1040px) and (max-width: 1380px) {
  .testimonialImageContainer {
    width: 30%;
    padding: 0;
  }
  .thirdSection {
    padding: 0rem 0 12rem 8rem;
  }
 
  .testimonialSwiper .eachSlide {
    gap: 2rem;
  }


  .wallOfFameContainer {
    width: 100%;
  }
  .blueBg {
    max-width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .testimonialImageContainer {
    width: 30%;
  }
  .thirdSection {
    padding: 2rem 0 4rem 4rem;
  }
  
  .statsNumber {
    font-size: 1.5rem;
  }
  .sectionHeader {
    margin-bottom: 0;
  }
  .wallOfFameContainer {
    width: 100%;
  }
  .testimonialSwiper .eachSlide {
    gap: 1rem;
  }
 
}
@media (max-width: 768px) {
  .thirdSection {
    padding: 3rem 1.3rem 2rem;
  }
  .sectionHeader p {
    text-align: center;
  }
  .sectionHeader h2 {
    text-align: center;
  }
 
  .statsRow {
    display: flex;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .statsRow > div {
    width: 50%;
  }
  .statsRow > div:last-child {
    display: none;
  }
  .rightContent {
    display: none !important;
  }
  .testimonialImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonialSwiper .eachSlide {
    gap: 0rem;
    flex-wrap: wrap;
  }
  .blueBg {
    display: none;
  }
 
  .testimonialSwiper p {
    text-align: center;
  }
  .testimonialSwiper h6 {
    text-align: center;
  }
  .testimonialSwiper small {
    display: block;
    text-align: center;
  }
  .testimonialIconContainer {
    justify-content: center;
  }
  .testimonialImage {
    height: 90px !important;
    width: 90px !important;
    border-radius: 50px !important;
    object-fit: cover;
  }
  .mobileQuoteIcon {
    display: block;
  }
  .desktopQuoteIcon {
    display: none;
  }
  .sectionHeader {
    margin-bottom: 0;
  }
  .leftContent {
    padding-bottom: 0;
    margin-top: 5px;
    padding-right: 0;
  }
  .testimonialSwiper {
    padding-top: 0 !important;
  }
 
}
