/* components/home-components/EventsGrid/EventsGrid.module.css */

.eventSection {
  padding: 5rem;
  background: #f5f5f5;
}

.container {
  width: 100%;
}

.header {
  text-align: center;
  margin: auto;
  padding-bottom: 7.2rem;
  border-top: 1px solid #d5d1d1;
  padding-top: 4rem;
}

.headerSmall {
    color: var(--color-4e);
    font: var(--font-18);
    font-family: var(--font-Condensed);
    margin-bottom: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}


.headerTitle {
    font: var(--font-60);
    font-family: var(--font-Condensed);
    color: var(--color-black);
    letter-spacing: -2.88px;
    font-weight: bold;
}
.headerTitle span {
    font: var(--font-60);
    font-family: var(--font-Condensed);
    letter-spacing: -2.88px;
    font-weight: bold;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 280px;
  gap: 0;
}

.card {
  padding: 2.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.cardLarge {
  grid-column: span 2;
  grid-row: span 2;
}

.cardLargeTopLeft {
  border-top-left-radius: 50px;
}

.cardLargeBottomRight {
  border-bottom-right-radius: 50px;
}

.contentPart {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  line-height: 2.5;
  padding: 4.9rem 4.9rem 3rem;
  width: 100%;
  z-index: 2;
}

.miniContentPart {
  z-index: 2;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardTag {
   font: var(--font-16);
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-Condensed);
  letter-spacing: 4.82px;
  font-weight: 300;
}

.cardTagDark {
  color: #333;
}

.cardTitle {
 font: var(--font-16);
  font-weight: 400;
  line-height: 1.4;

}

.cardTitleWhite {
  color: #fff;
}

.cardTitleLarge {
   font: var(--font-36);
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-Condensed);
  padding-right: 14rem;
}

.cardSubtitle {
font: var(--font-16);
  color: var(--color-white);
  font-family: var(--font-Condensed);
  letter-spacing: 0px;
}

.cardSubtitleWhite {
  color: #fff;
}

.cardDate {
 font: var(--font-16);
  margin-top: 2.8rem;
  color: #333;
}

.cardDateWhite {
  color:var(--color-white);
}

.orangeLine {
  background-color: #ffa600;
  width: 9.2rem;
  height:0.5rem;
  margin-bottom: 1.8rem;
}
.rightArrow {
  color: #fff;
  border: 1px solid;
  border-radius: 50px;
  padding:0.5rem;
  font-size: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.seamEduLogo {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  margin: 20px 0;
}

.seamEduBold {
  font-weight: bold;
  font-size: 18px;
}

.seamEduTitle {
  font-size: 2.4rem;
  font-weight: bold;
}

.seamEduLight {
  font-weight: 300;
}

/* .cardImage {
  object-fit: cover;
} */
.mobileView {
  display: none;
}
.desktopView {
  display: block;
}


/* Responsive Design */

@media (min-width: 2200px) and (max-width:2550) {
.cardTitleLarge {
  padding-right: 28rem;
}
.cardSubtitleWhite {
  margin-top: 2rem;
  max-width: 60%;
}
.cardTitle {max-width: 60%;}

}



@media (max-width: 1200px) {
  .eventSection {
    padding: 4rem 3rem;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .eventSection {
    padding: 3rem 2rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

}


@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 220px;
  }


  .contentPart {
    padding: 1rem;
  }

  .cardLargeTopLeft {
    border-top-left-radius: 30px;
  }

  .cardLargeBottomRight {
    border-bottom-right-radius: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {

  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
  }
  .cardTag {
    margin-bottom: 5px;
  }
  .orangeLine {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .mobileView {
    display: block;
  }
  .desktopView {
    display: none;
  }

  .mobileCard {
    height: 300px;
  }
 
  .cardTitleLarge {
    font-weight: 400;
  }
  .rightArrow {
    padding: 2px;
  }
  .eventSection {
    padding: 3rem 1rem;
  }
  .orangeLine {
    background-color: #ffa600;
    width: 20%;
    height: 3px;
    margin-bottom: 20px;
  }
}