/* components/home-components/LegacySection/LegacySection.module.css */

.fifthSection {
  padding: 6rem 12rem;
  background: #e6ffff;
}

.topSection {
  margin-bottom: 1rem;
}

.topSectionHeading {
  width: 40%;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.violetText {
  color: #9852a1;
}

.fifthMiddleSection {
  align-items: center;
}

.navButtons {
  background: #16344e;
  padding: 0.8rem 2rem;
  font-size: 14px;
  color: #fff !important;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.navButtons:hover {
  opacity: 0.9;
  color: #fff;
}

.leftColumn {
  border-right: 1px solid rgba(212, 212, 212, 0.8);
  padding-right: 4rem;
}

.rightColumn {
  padding-left: 5rem;
}

.contentPart {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
}

.chancellorImage {
  width: 100%;
  height: auto;
}

.description {
  font-weight: 300;
  width: 75%;
}

.highlightBox {
  border: 1px solid #dee2e6;
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
}

.highlightNumber {
  font-weight: bold;
  color: #9852a1;
}

.sourceText {
  font-weight: bold;
  font-size: 1.25rem;
}
.topSection p {
  font-size: 18px;
  color: #16344e;
}
.cardTitle {
  font-size: 20px;
}
.accreditationLogo {
  width: 15%;
  height: auto;
}
.accreditationSlide p {
  font-size: 16px;
  color: #212121;
  font-family: Geist, sans-serif;
}
/* .accreditationSlide {
  border-right: 1px solid #d8dddd;
} */
.accreditationSlide:last-child {
  border: none;
}
.fifthSectionSlider {
  margin-top: 4rem;
  padding: 0 2rem;
}
/* Responsive Design */

@media (min-width: 1381px) and (max-width: 1919px) {
  .accreditationLogo {
    width: 30%;
  }
  .accreditationSlide p {
    font-size: 14px;
  }
  .topSectionHeading {
    font-size: 40px;
  }
  .about-home-jss-module__Uc86oW__topSection p {
    font-size: 14px;
  }
  .description {
    font-size: 14px;
  }
  .cardTitle {
    font-size: 16px;
  }
  .highlightNumber {
    font-size: 30px;
  }
  .navButtons {
    padding: 0.5rem 2rem;
  }
}
@media (min-width: 1040px) and (max-width: 1380px) {
  .accreditationLogo {
    width: 25%;
  }
  .fifthSection {
    padding: 6rem 6rem;
  }
  .accreditationSlide p {
    font-size: 14px;
  }
  .topSectionHeading {
    font-size: 40px;
  }
  .about-home-jss-module__Uc86oW__topSection p {
    font-size: 14px;
  }
  .description {
    font-size: 14px;
  }
  .cardTitle {
    font-size: 16px;
  }
  .highlightNumber {
    font-size: 30px;
  }
  .navButtons {
    padding: 0.5rem 2rem;
  }
}
