/* components/home-components/LegacySection/LegacySection.module.css */

.fifthSection {
  background: var(--color-fff);
  padding-block: 7.6rem;
}

.topSection {
  margin-bottom: 1rem;
}

.topSectionHeading {
  width: 40%;
  font: var(--font-60);
  font-family: var(--font-Condensed);
  color: var(--color-black);
  letter-spacing: -2.88px;
  font-weight: bold;
}

.topSectionHeading span {
  font: var(--font-60);
  font-family: var(--font-Condensed);
}

.violetText {
  color: #9852a1;
}

.fifthMiddleSection {
  align-items: center;
  margin-top: 3.4rem;
}

.navButtons {
  background: #16344e;
  padding: 0.8rem 2rem;
  font: var(--font-14);
  font-family: var(--font-Condensed);
  color: var(--color-fff);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.navButtons:hover {
  opacity: 0.9;
  color: #fff;
}


.rightColumn {
  padding-left: 14rem;
}

.contentPart {
  position: absolute;
  bottom: 0;
  padding: 2rem;
}

.chancellorImage {
  width: 100%;
  height: auto;
}

.description {
  color: var(--color-black);
  font: var(--font-16);
  font-family: var(--font-Condensed);
  letter-spacing: 0px;
  margin-bottom: 2rem;
  max-width: 68%;
}


.highlightBox {
  border: 1px solid #dee2e6;
  padding: 2.4rem 2.9rem 1.9rem;
  display: flex;
  gap: 0.75rem;
  margin-bottom: 2.6rem;

}

.highlightNumber {
  color: var(--color-73);
  letter-spacing: -1.9px;
  font: var(--font-38);
  font-family: var(--font-Condensed);
  font-weight: 400;
  line-height: 0.8;
}

.sourceText {
  color: var(--color-black);
  font: var(--font-21);
  font-family: var(--font-Condensed);
  margin-bottom: 1rem;
  font-weight: 700;
}

.topSection p {
  color: var(--color-4e);
  font: var(--font-18);
  font-family: var(--font-Condensed);
  margin-bottom: 1rem;
}

.cardTitle {
  font: var(--font-14);
  font-family: var(--font-Condensed);
  letter-spacing: 0px;
}



.accreditationSlide p {
  font: var(--font-16);
  color: var(--color-black);
  font-family: Geist, sans-serif;
}

/* .accreditationSlide {
  border-right: 1px solid #d8dddd;
} */
.accreditationSlide:last-child {
  border: none;
}

.fifthSectionSlider {
  margin-top: 8.3rem;
  padding-inline: 5rem;
}

.fifthSectionSlider :global(.about-pagination) {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  height: 10px;
}

.fifthSectionSlider :global(.about-pagination .swiper-pagination-bullet) {
  width: 0.6rem;
  height: 0.6rem;
  display: block;
}


.fifthSectionSlider :global(.about-pagination .swiper-pagination-bullet-active) {
  background-color: #ffffff;
  transform: scale(1.5);
  border: solid 1px #f7bf3e;
}

.onlyMobile {
  display: none;
}

/* Video Modal */
.videoModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.videoModalContent {
  width: 80%;
  max-width: 900px;
  height: 70vh;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: -35px;
  right: 0;
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeBtn:hover {
  color: #fbbf24;
}

.videoIframe {
  border: none;
  border-radius: 10px;
}

/* Responsive Design */
/* Responsive Design */

@media (min-width: 1381px) and (max-width: 1919px) {
  .navButtons {
    padding: 0.5rem 2rem;
  }
}



@media (max-width: 1024px) {
  .rightColumn {
    padding-left: 5rem;
  }

  .description {
    max-width: 100%;
  }

}

@media (max-width: 991px) {
  .topSectionHeading {
    width: 100%;

  }

  .rightColumn {
    padding-left: 0;
    padding-block: 6rem 0;
  }

}

@media (max-width: 768px) {
  .accreditationHeading {
    text-align: center;
    color: rgb(0, 54, 161);
    font: var(--font-14);
    font-family: var(--font-Condensed);
    font-weight: 600;
    margin-block: 2.1rem;
    line-height: 17px;
  }



  .fifthSection {
    padding-block: 4.4rem;
  }

  .fifthContainerSection {
    padding: 0;
  }

  .fifthContainerSection {
    background: #e6ffff;
  }

  .topSection p {
    color: var(--color-4e);
    font: var(--font-14);
    font-family: var(--font-Condensed);
    margin-bottom: 1rem;
  }

  .topSectionHeading {
    width: 55%;
    font: var(--font-34);
    font-family: var(--font-Condensed);
    color: var(--color-black);
    letter-spacing: -1.63px;
    line-height: 30px;
    font-weight: bold;
    margin: 0 auto;
  }

  .topSectionHeading span {
    width: 40%;
    font: var(--font-34);
    font-family: var(--font-Condensed);
    letter-spacing: -1.63px;
    font-weight: bold;
    line-height: 30px;
  }


  .topSection p {
    text-align: center;
  }

  .description {
    width: 100%;
    text-align: center;
  }

  .topSectionHeading {
    margin-bottom: 1.3rem;
    text-align: center;
  }

  .leftColumn {
    display: none;
  }

  .rightColumn {
    padding-left: 0;
    padding-block: 0;
  }

  .fifthMiddleSection {
    margin-top: 2rem;
  }

  .onlyDesktop {
    display: none !important;
  }

  .onlyMobile {
    display: block;
  }

  .rightArrowIconDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem !important;
  }

  .aboutBtnDiv {
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 1.5rem 3rem;
    gap: 10px !important;
    border-bottom: solid 0.5px #dee2e6;
  }

  .navButtons {
    padding: 1.1rem 2.3rem 1.1rem;
  }

  .onlyMobile :global(.swiper-wrapper) {
    height: 130px;
  }


  .accreditationSlide p {
    font-size: 15px;
    width: 100% !important;
  }

  .fifthSectionSlider {
    margin-top: 3rem;
    padding: 0 0rem;
  }

  .accreditationSlide {
    padding: 1.6rem 1.8rem 1.6rem;
    background: #fff;
    border-radius: 8px;
  }

  .highlightBox {
    border: 1px solid #dee2e6;
    padding: 3rem 4.1rem 3rem;
    display: flex;
    gap: 0.75rem;
    margin-bottom: 2.6rem;

  }

  .cardTitle {
    font: var(--font-16);
    font-family: var(--font-Condensed);
    letter-spacing: 0px;
  }

  .highlightNumber {
    color: var(--color-73);
    letter-spacing: -2.15px;
    font: var(--font-42);
    font-family: var(--font-Condensed);
    font-weight: 400;
    line-height: 0.8;
  }

  .sourceText {
    color: #FF0000;
    font: var(--font-28);
    letter-spacing: -1.19px;
    font-family: var(--font-Condensed);
    margin-bottom: 1rem;
  }

  .highlightBox {
    gap: 1.5rem;

  }

  .accreditationSlide p {
    font: var(--font-16);
    color: var(--color-black);
    font-family: var(--font-Condensed);
  }

  .accreditationLogo {
    width: 100%;
    height: auto;
    max-width: 75px;
  }
}

@media (max-width: 767px) {
  .topSectionHeading {
    width: 100%;
  }

  .topSectionHeading span {
    max-width: 100%;
  }
}

@media (max-width: 420px) {
  .highlightBox {
    padding: 2.4rem 2.9rem 1.9rem;
  }

}